/***********FOR ALL PAGES***********/
body {
    background-color: brown;
    margin: 0;
}

header {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

header img {
    width: 150px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 20px;
}


nav ul li a {
    margin: 0;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    color: brown;
    background-color: white;
}

footer {
    text-align: center;
    background-color: gray;
    width: 100%;
    margin: auto;
    color: white;
    font-size: large;
    font-weight: bold;
    position: absolute;
}

.pageTitle {
    text-align: center;
}