/***********FOR ALL PAGES***********/
body {
    background-color: brown;
    margin: 0;
}

.container-fluid {
    background-color: gray;
    padding: 20px;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    color: brown;
    font-size: x-large;
}

.nav-link {
    color: white;
    border-radius: 5px;
    font-size: large;
}

.nav-link:hover {
    color: brown;
    background-color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: gray;
    width: 100%;
    margin: auto;
    color: white;
    font-size: large;
    font-weight: bold;
    position: absolute;
}

.pageTitle {
    text-align: center;
    padding: 15px;
}

form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: white;
    gap: 10px;
}

input[type="text"] {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    font-size: 14px;
}

input[type="email"] {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    font-size: 14px;
}

input[type="submit"] {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

input:focus {
    background-color: gainsboro;
}

input[type="submit"]:hover {
    background-color: white;
    color: brown;
}